@page "/"

<h1>Cat Encryption 1.0 Home Page</h1>

<h6>



</h6>

<p>This is the Web version of Cat Encryption program created by Tim Chiu in 2020.9.24 based on C# and Blazor.</p>
<div>Visit my GitHub Page to see other versions of Cat Encryption and my other projects!\n\n</div>

<hr />

<CarEncryptionApp/>

